<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="newRelicGroup">
      <section name="newRelicSettings" type="NewRelic.DotNetSDK.Publish.Configuration.NewRelicConfigurationSection, NewRelic.DotNetSDK" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </sectionGroup>
  </configSections>

  <newRelicGroup>
    <newRelicSettings 
      licenseKey="YOUR_LICENSE_KEY_HERE"
      serviceUri="https://platform-api.newrelic.com/platform/v1/metrics"
      sslHostVerification="true"
      pollIntervalSeconds="60" />
  </newRelicGroup>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>