<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="newRelicGroup">
      <section name="newRelicSettings" type="NewRelic.DotNetSDK.Publish.Configuration.NewRelicConfigurationSection, NewRelic.DotNetSDK" />
    </sectionGroup>
  </configSections>

  <newRelicGroup>
    <newRelicSettings
      licenseKey="TEST_LICENSE_KEY"
      serviceUri="https://test_service_uri"
      sslHostVerification="false"
      pollIntervalSeconds="90" />
  </newRelicGroup>
</configuration>